<%= form_for(@equation) do |f| %>
  <% if @equation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equation.errors.count, "error") %> prohibited this equation from being saved:</h2>

      <ul>
      <% @equation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :figure %><br>
    <%= f.text_area :figure, class: 'eq_editor' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
