<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @equation.title %>
</p>

<p>
  <strong>Figure:</strong>
  <%= @equation.figure.html_safe %>
</p>

<div data-no-turbolink >
  <%= link_to 'Edit', edit_equation_path(@equation) %> |
</div>
<%= link_to 'Back', equations_path %>
